<h1>Send Landing Mail</h1>
    <%= form_tag(send_mail_path) do |f| %>
      <%= invisible_captcha %>
      <label>Email :: </label>
      <input type="text" name="email" id="email"><br><br>
      <label>Message :: </label>
      <textarea name="message" id="message">
      </textarea><br><br>
      <button type="submit">send mail</button>
    <% end %>